<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sidebar 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        .error-border {
            border: 1px solid red;
        }

        .avatar-wrapper {
            position: relative;
            width: 150px;
            height: 150px;
            overflow: hidden;
            border-radius: 50%;
            border: 3px solid #ffffff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
        }

        .avatar-wrapper img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .choose-file-btn {
            display: block;
            text-align: center;
            padding: 5px 10px;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .choose-file-btn:hover {
            background-color: #f0f0f0;
        }

        #avatarInput {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

    </style>
</head>

<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4">
            <h1><a href="kieu_dang.html" class="logo">DLFV</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span
                            class="fa fa-home mr-3"></span>Thống Kê</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/admin/thong-ke">Thông kê doanh thu</a>
                        </li>
                        <li>
                            <a href="/admin/thong-ke-top-ban-chay">Thông kê top</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="/admin/ban-hang"><span class="fa fa-user mr-3"></span> Quản Lý Đơn Hàng</a>

                </li>
                <li>
                    <a href="/admin/ban-hang-tai-quay"><span class="fa fa-briefcase mr-3"></span> Bán Hàng Tại Quầy</a>
                </li>
                <li>
                    <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span
                            class="fa fa-sticky-note mr-3"></span> Quản Lý Sản Phẩm</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu2">
                        <li>
                            <a href="/admin/sanpham">Sản Phẩm</a>
                        </li>
                        <li>
                            <a href="/admin/kichco">Kích cỡ</a>
                        </li>
                        <li>
                            <a href="/admin/chatlieu">Chất Liệu</a>
                        </li>
                        <li>
                            <a href="/admin/degiay">Đế Giày</a>
                        </li>
                        <li>
                            <a href="/admin/gioitinh">Giới Tính</a>
                        </li>
                        <li>
                            <a href="/admin/mausac">Màu Sắc</a>
                        </li>
                        <li>
                            <a href="/admin/xuatxu">Xuất xứ</a>
                        </li>
                        <li>
                            <a href="/admin/kieudang">Kiểu dáng</a>
                        </li>
                        <li>
                            <a href="/admin/thuonghieu">Thương Hiệu</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span
                            class="fa fa-paper-plane mr-3"></span> Quản Lý Tài Khoản</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu3">
                        <li>
                            <a href="/admin/nhan-vien">Nhân Viên</a>
                        </li>
                        <li>
                            <a href="/admin/khachhang">Khách Hàng</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span
                            class="fa fa-cubes mr-3"></span>Khuyến Mại</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu4">
                        <li>
                            <a href="/admin/chuong-trinh-giam-gia-sp">Sản Phẩm</a>
                        </li>
                        <li>
                            <a href="/admin/giamgiahoadon">Hóa Đơn</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="mb-5">
                <h3 class="h6 mb-3">Subscribe for newsletter</h3>
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <div class="icon"><span class="icon-paper-plane"></span></div>
                        <input type="text" class="form-control" placeholder="Enter Email Address">
                    </div>
                </form>
            </div>

            <div class="footer">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib.com</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->

    <div id="content" class="p-4 p-md-5 pt-5 bg-secondary">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: -50px;">
            <div class="container-fluid" style="display: flex;justify-content: end;">
                <ul class="navbar-nav">
                    <!-- Avatar -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
                           role="button" data-toggle="dropdown" aria-expanded="false">
                            <img
                                    class="rounded-circle"
                                    th:src="@{|/images/${nhanVienLogin.anh}|}"
                                    height="72" alt="Avatar" loading="lazy"/>
                        </a>
                        <div class="dropdown-menu" style="margin-left: -88px;">
                            <a class="dropdown-item" href="#">Đăng Xuất</a>
                            <a class="dropdown-item" href="#">Thông Tin Cá Nhân</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-lg bg-light border">
            <div style="padding: 15px">
                <form id="KhachHangForm" th:action="@{|/admin/khachhang/update/${khachhang.ma}}" enctype="multipart/form-data" method="post" th:object="${khachhang}">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="text-center">
                                <div class="avatar-wrapper">
                                    <img id="avatarPreview" th:src="@{|/images/${khachhang.avatar}|}" alt="Avatar" class="img-thumbnail">
                                    <label for="avatarInput" class="choose-file-btn">Chọn ảnh</label>
                                    <input type="file" id="avatarInput" name="file" accept=".jpg,.jpeg,.png">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <span style="margin-left: 20px; margin-right: 20px; border-left: 1px solid rgba(0,0,0,.09)"></span>
                        </div>
                        <div class="col-6">
                            <h3 style="text-transform: uppercase; color: black; text-align: left;">
                                Chi tiết khách hàng
                            </h3>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <input type="text" hidden  th:field="*{id}">
                        <input type="text" hidden th:field="*{ma}" class="form-control" id="formGroupExampleInput" placeholder="Mã">

                        <div class="col-md-6">
                            <label class="required" for="formGroupExampleInput">Họ Và Tên</label>
                            <input type="text" th:field="*{hoten}" class="form-control" id="formGroupExampleInputhoten" placeholder="Họ và tên">
                            <span id="tenError" class="error-message"></span>
                        </div>

                        <div class="col-md-6">
                            <label class="required" for="formGroupExampleInput">Số điện thoại</label>
                            <input type="text" th:field="*{sdt}" class="form-control" id="formGroupExampleInputsdt" placeholder="Số điện thoại">
                            <span id="sdtError" class="error-message"></span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="required" for="formGroupExampleInput">Ngày Sinh</label>
                            <input type="date" th:field="*{ngaysinh}" class="form-control" id="formGroupExampleInputngaysinh" placeholder="Ngày Sinh">
                            <span id="ngaysinhError" class="error-message"></span>
                        </div>


                        <div class="col-md-6">
                            <label class="required" for="formGroupExampleInput">Email</label>
                            <input type="text" th:field="*{email}" class="form-control" id="formGroupExampleInputEmail" placeholder="Email">
                            <span id="EmailError" class="error-message"></span>
                        </div>

                    </div>
                    <br>
                    <div class="col-md-6" hidden>
                        <label class="required" for="formGroupExampleInput">Mật Khẩu</label>
                        <input type="text" th:field="*{matkhau}" class="form-control" id="formGroupExampleInput" placeholder="Mật Khẩu">
                    </div>
                    <br>
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0 required">Trạng Thái : </legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" th:field="*{trangthai}" id="gridRadios1" th:value="1">
                                <label class="form-check-label" for="gridRadios1">
                                    Hoạt Động
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" th:field="*{trangthai}" id="gridRadios2" th:value="0" >
                                <label class="form-check-label" for="gridRadios2">
                                    Không Hoạt Động
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button  type="submit" class="btn btn-primary">Sửa</button>
                    <a th:href="@{|/admin/khachhang|}"><button type="button" class="btn btn-secondary">Quay Lại</button></a>
                </form>
            </div>
        </div>
        <br>

        <div class="container-lg bg-light border">
            <div style="padding: 15px">
                <div>
                    <h3 style="text-transform: uppercase; color: black; text-align: center;">
                        Nhập Địa Chỉ
                    </h3>
                </div>
                <form id="DiaChiFrom" action="/admin/diachi/save" method="post" th:object="${diachi}" >
                    <input hidden="hidden" th:value="${ma}" th:name="maKh"></input>
                    <select class="form-control" th:field="*{khachHang.id}" hidden>
                        <option th:value="${khachhang.id}">[[${khachhang.hoten}]]</option>
                    </select>

                    <div class="row">
                        <div class="col-md-6">
                            <label class="required" for="formGroupExampleInput">Tên Người Nhận:</label>
                            <input type="text" th:field="*{ten_nguoi_nhan}" class="form-control" id="formGroupExampleInputtennguoinhan" placeholder="">
                            <span id="tennguoinhanError" class="error-message"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="required" for="formGroupExampleInput">Số Điện Thoại</label>
                            <input type="text" th:field="*{sdt_nguoi_nhan}"   class="form-control" id="formGroupExampleInputsdtnguoinhan" placeholder="">
                            <span id="sdtnguoinhanError" class="error-message"></span>
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="required">Thành Phố :</label>
                            <select class="form-control" th:field="*{thanhpho}" name="province" id="province">
                                <option th:value="${diachi.thanhpho}" >[[${diachi.thanhpho}]]</option>
                            </select>
                            <span id="ThanhPhoError" class="error-message"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="required">Huyện :</label>
                            <select class="form-control" name="district" id="district" th:field="*{huyen}">
                                <option th:value="${diachi.huyen}" >[[${diachi.huyen}]]</option>
                            </select>
                            <span id="HuyenError" class="error-message"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="required">Phường :</label>
                            <select class="form-control" name="ward" id="ward" th:field="*{xa}">
                                <option th:value="${diachi.xa}">[[${diachi.xa}]]</option>
                            </select>
                            <span id="XaError" class="error-message"></span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="required" for="formGroupExampleInput">Đia Chỉ Cụ thể</label>
                            <input type="text" th:field="*{tendiachi}"   class="form-control" id="formGroupExampleInputdiachicuthe" placeholder="">
                            <span id="diachicutheError" class="error-message"></span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0 required">Trạng Thái : </legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" th:field="*{trangthai}" id="gridRadios1" th:value="1">
                                <label class="form-check-label" for="gridRadios1">
                                    Hoạt Động
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" th:field="*{trangthai}" id="gridRadios2" th:value="0" >
                                <label class="form-check-label" for="gridRadios2">
                                    Không Hoạt Động
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit" >Thêm Mới</button>
                    <button class="btn btn-success" th:formaction="@{|/admin/diachi/update/${diachi.madc}|}" type="submit" >Cập Nhập</button>
                </form>

                <div style="margin: 20px">
                    <h3 style="text-transform: uppercase; color: black; text-align: center;">
                        Danh Sách Địa Chỉ
                    </h3>

                    <table class="table" style="margin: 20px 0;">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Tên Địa Chỉ</th>
                            <th scope="col">Khách Hàng</th>
                            <th scope="col">Thành Phố</th>
                            <th scope="col">Huyện</th>
                            <th scope="col">Xã</th>
                            <th scope="col">Trạng Thái</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tr th:each="item:${listdiachi}">
                            <td>[[${item.tendiachi}]]</td>
                            <td>[[${item.khachHang.hoten}]]</td>
                            <td>[[${item.thanhpho}]]</td>
                            <td>[[${item.huyen}]]</td>
                            <td>[[${item.xa}]]</td>
                            <td th:text="${item.trangthai == 1 ? 'Hoạt Động' : 'Ngừng Hoạt Động'}"></td>
                            <td>
                                <a th:href="@{|/admin/diachi/detail?makh=${item.khachHang.ma}&madc1=${item.madc}|}"><i class="bi bi-eye"></i></a>

                                <a class="delete-btn" th:data-id="${item.id}" href="#"> <!-- Sử dụng class delete-btn để bắt sự kiện -->
                                    <i class="bi bi-trash3"></i>
                                </a>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bao gồm các tệp cần thiết cho SweetAlert -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/main.js"></script>

<script>
    // 1. what is API
    // 2. How do I call API
    // 3. Explain code
    const host = "https://provinces.open-api.vn/api/";
    var callAPI = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data, "province");
            });
    }
    callAPI('https://provinces.open-api.vn/api/?depth=1');
    var callApiDistrict = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data.districts, "district");
            });
    }
    var callApiWard = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data.wards, "ward");
            });
    }

    var renderData = (array, select) => {
        let row = ' <option disable value="">chọn</option>';
        if(array.length > 0) {
            row = ' <option th:value="${diachi.thanhpho}" ">[[${diachi.thanhpho}]]</option>'
        }

        array.forEach(element => {
            row += `<option value="${element.name}" data-code="${element.code}">${element.name}</option>`
        });
        document.querySelector("#" + select).innerHTML = row
    }

    $("#province").change(() => {
        const selectedCode = $("#province option:selected").data("code");
        callApiDistrict(host + "p/" + selectedCode + "?depth=2");
        printResult();
    });
    $("#district").change(() => {
        const selectedCode = $("#district option:selected").data("code");
        callApiWard(host + "d/" + selectedCode + "?depth=2");
        printResult();
    });
    $("#ward").change(() => {
        printResult();
    })

    var printResult = () => {
        if ($("#district").va() != "" && $("#province").val() != "" &&
            $("#ward").val() != "") {
            let result = $("#province option:selected").text() +
                " | " + $("#district option:selected").text() + " | " +
                $("#ward option:selected").text();
            $("#result").text(result)
        }

    }
</script>

<script>
    document.getElementById('avatarInput').addEventListener('change', function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('avatarPreview').src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    });

</script>


<script>

    document.getElementById('KhachHangForm').addEventListener('submit', function (event) {
        // Perform your validation logic here
        clearErrorMessages();

        if (!validateForm()) {
            // Prevent the form from submitting if validation fails
            event.preventDefault();
        }
    });

    //valida khachhang
    function validateForm() {
        // Add your validation logic here
        var tenValue = document.getElementById('formGroupExampleInputhoten').value;
        var sdtValue = document.getElementById('formGroupExampleInputsdt').value;
        var ngaysinhValue = document.getElementById('formGroupExampleInputngaysinh').value;
        var emailValue = document.getElementById('formGroupExampleInputEmail').value;

        var kq= 0;
        if (tenValue.trim() === '') {
            displayErrorMessage('tenError', 'Không được để trống thông tin');
            $('#formGroupExampleInputhoten').addClass('error-border');
            kq=1;
        }else {
            $('#formGroupExampleInputhoten').removeClass('error-border');
        }

        if (sdtValue.trim() === '') {
            displayErrorMessage('sdtError', 'Không được để trống thông tin');
            $('#formGroupExampleInputsdt').addClass('error-border');
            kq=1;
        }else if(!isValidPhoneNumber(sdtValue)){
            displayErrorMessage('sdtError', 'Số điện thoại không hợp lệ');
            $('#formGroupExampleInputsdt').addClass('error-border');
            kq=1;
        }else {
            $('#formGroupExampleInputsdt').removeClass('error-border');
        }

        if (ngaysinhValue.trim() === '') {
            displayErrorMessage('ngaysinhError', 'Không được để trống thông tin');
            $('#formGroupExampleInputngaysinh').addClass('error-border');
            kq=1;
        }else if (!isValidDate(ngaysinhValue)) {
            displayErrorMessage('ngaysinhError', 'Ngày Sinh không hợp lệ');
            $('#formGroupExampleInputngaysinh').addClass('error-border');
            kq=1;
        }else {
            $('#formGroupExampleInputngaysinh').removeClass('error-border');
        }

        if (emailValue.trim() === '') {
            displayErrorMessage('EmailError', 'Không được để trống thông tin');
            $('#formGroupExampleInputEmail').addClass('error-border');
            kq=1;
        }else if (!isValidEmail(emailValue)){
            displayErrorMessage('EmailError', 'Email không hợp lê');
            $('#formGroupExampleInputEmail').addClass('error-border');
            kq=1;
        }else {
            $('#formGroupExampleInputEmail').removeClass('error-border');
        }


        if (kq==1){
            return false;
        }
        return true;
    }

<!--    documet dia chi-->
    document.getElementById('DiaChiFrom').addEventListener('submit', function (event) {
        // Perform your validation logic here
        clearErrorMessages();

        if (!validateForm2()) {
            // Prevent the form from submitting if validation fails
            event.preventDefault();
        }
    });

    //valida địa chị
    function validateForm2() {
        // Add your validation logic here
        var tennguoinhanValue = document.getElementById('formGroupExampleInputtennguoinhan').value;
        var sdtnguoinhanValue = document.getElementById('formGroupExampleInputsdtnguoinhan').value;
        var thanhphoValue = document.getElementById('province').value;
        var huyenValue = document.getElementById('district').value;
        var xaValue = document.getElementById('ward').value;
        var diachicutheValue = document.getElementById('formGroupExampleInputdiachicuthe').value;
        var kq= 0;
        if (tennguoinhanValue.trim() === '') {
            displayErrorMessage('tennguoinhanError', 'Không được để trống thông tin');
            $('#formGroupExampleInputtennguoinhan').addClass('error-border');
            kq=1;
        }else {
            $('#formGroupExampleInputtennguoinhan').removeClass('error-border');
        }

        if (sdtnguoinhanValue.trim() === '') {
            displayErrorMessage('sdtnguoinhanError', 'Không được để trống thông tin');
            $('#formGroupExampleInputsdtnguoinhan').addClass('error-border');
            kq=1;
        }else if(!isValidPhoneNumber(sdtnguoinhanValue)){
            displayErrorMessage('sdtnguoinhanError', 'Số điện thoại không hợp lệ');
            $('#formGroupExampleInputsdtnguoinhan').addClass('error-border');
            kq=1;
        }else {
            $('#formGroupExampleInputsdtnguoinhan').removeClass('error-border');
        }

        if (thanhphoValue.trim() === '') {
            displayErrorMessage('ThanhPhoError', 'Không được để trống thông tin');
            $('#province').addClass('error-border');
            kq=1;
        }else {
            $('#province').removeClass('error-border');
        }

        if (huyenValue.trim() === '') {
            displayErrorMessage('HuyenError', 'Không được để trống thông tin');
            $('#district').addClass('error-border');
            kq=1;
        }else {
            $('#district').removeClass('error-border');
        }

        if (xaValue.trim() === '') {
            displayErrorMessage('XaError', 'Không được để trống thông tin');
            $('#ward').addClass('error-border');
            kq=1;
        }else {
            $('#ward').removeClass('error-border');
        }

        if (diachicutheValue.trim() === '') {
            displayErrorMessage('diachicutheError', 'Không được để trống thông tin');
            $('#formGroupExampleInputdiachicuthe').addClass('error-border');
            kq=1;
        }else {
            $('#formGroupExampleInputdiachicuthe').removeClass('error-border');
        }

        if (kq==1){
            return false;
        }
        return true;
    }

    // kiểm tra định dạng iphone
    function isValidPhoneNumber(phoneNumber) {
        // Sử dụng biểu thức chính quy để kiểm tra số điện thoại
        var phonePattern = /^[0-9]{10}$/;
        return phonePattern.test(phoneNumber);
    }

    // Kiểm tra tính hợp lệ của ngày sinh
    function isValidDate(date) {
        var selectedDate = new Date(date);
        var currentDate = new Date();
        return selectedDate < currentDate;
    }


    // kiểm tra định dạng của Email
    function isValidEmail(email) {
        // Sử dụng biểu thức chính quy để kiểm tra định dạng email
        var emailPattern = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}$/i;
        return emailPattern.test(email);
    }

    // thông báo lỗi và viền đỏ
    function displayErrorMessage(elementId, message) {
        var errorElement = document.getElementById(elementId);
        errorElement.innerText = message;
        errorElement.style.color = 'red';
    }

    // clear thông báo lỗi khi thoảng mãn điều kiện
    function clearErrorMessages() {
        var errorElements = document.querySelectorAll('.error-message');
        errorElements.forEach(function (element) {
            element.innerText = '';
        });
    }
</script>


<script>
    // Bắt sự kiện khi click vào nút xóa
    $(document).on('click', '.delete-btn', function(e) {
        e.preventDefault(); // Ngăn chặn hành động mặc định của nút

        var id = $(this).data('id');

        // Hiển thị Swal để xác nhận việc xóa
        Swal.fire({
            title: 'Bạn có chắc chắn muốn xóa?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Xóa',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.isConfirmed) {
                // Nếu người dùng xác nhận muốn xóa, thực hiện request xóa
                window.location.href = '/admin/diachi/delete/' + id;
            }
        });
    });
</script>


</body>
</html>